.m-toast-box {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 650px;
    min-width: 450px;
    width: 100%;
    padding: 10px;
    display: none;
}

.m-toast-box .m-toast-item {
    position: relative;
    display: flex;
    border-radius: 4px;
    padding: 20px 0 20px 0;
    background-color: #ffffff;
    margin: 0 8px 8px 0;
    min-width: 450px;
    max-width: 650px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.078);
    align-items: center;
   
}

.m-toast-box .m-toast-icon {
    font-size: 24px;
    position: absolute;
    left: 16px;
    height: 24px;
    width: 24px;
    margin-right: 8px;
}

.m-toast-box .m-toast-item .m-toast-text {
    
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0;
    color: #1F1F1F;
    margin: 0 0 0 48px;
    max-width: 460px;
    
}

.m-toast-box .m-toast-item .m-toast-text .m-toast-text-message {
}

.m-toast-box .m-toast-item .m-toast-text .m-toast-text-title {
    font-weight: bold;
}

.m-toast-box .m-toast-item .m-toast-text .m-toast-text-detail {
    color: #1F1F1F;
    
}

.m-toast-box .m-toast-item .m-toast-text .m-toast-text-link {
    text-decoration: underline;
    cursor: pointer;
    margin-right: 16px;
    }

.m-toast-box .m-toast-item .m-toast-close {
    font-size: 16px;
    cursor: pointer;
    width: 16px;
    color: #9E9E9E;
    position: absolute;
    right: 16px; /* Đảm bảo nút đóng nằm bên phải */
}

/* error */
.m-toast-box .m-toast-item.m-toast-error {
    width: 100%;
}

.m-toast-box .m-toast-item.m-toast-error .m-toast-icon {
    color: #DE3618;
}

.m-toast-box .m-toast-item.m-toast-error .m-toast-text .m-toast-text-title {
    color: #DE3618;
}

/* success */
.m-toast-box .m-toast-item.m-toast-success {
    width: 450px;
}

.m-toast-item.m-toast-success .m-toast-text .m-toast-text-message {
    margin-right: 92px;
}

.m-toast-box .m-toast-item.m-toast-success .m-toast-icon {
    color: #28a745;
}

.m-toast-item.m-toast-success .m-toast-text .m-toast-text-title {
    color: #28a745;
}

/* warning */
.m-toast-box .m-toast-item.m-toast-warning {
    width: 498px;
}

.m-toast-item.m-toast-warning .m-toast-icon {
    color: #F49342;
}

.m-toast-item.m-toast-warning .m-toast-text .m-toast-text-title {
    color: #F49342;
}

/* info */
.m-toast-item.m-toast-info {
    width: 472px;
}

.m-toast-item.m-toast-info .m-toast-icon {
    color: #0F84D2;
}

.m-toast-item.m-toast-info .m-toast-text .m-toast-text-title {
    color: #0F84D2;
}

